<!-- ======================= Slide Multiple Booking Start Banner ===================== -->
<section class="main-banner scroll-con-sec hero-section" data-scrollax-parent=t rue id="sec1">
	<div class="slideshow-container">
		<!-- slideshow-item -->
		<div class="slideshow-item">
			<div class="bg" data-bg="assets/img/banner-6.jpg"></div>
		</div>
		<!--  slideshow-item end  -->
		<!-- slideshow-item -->
		<div class="slideshow-item">
			<div class="bg" data-bg="assets/img/banner-7.jpg"></div>
		</div>
		<!--  slideshow-item end  -->
		<!-- slideshow-item -->
		<div class="slideshow-item">
			<div class="bg" data-bg="assets/img/banner-8.jpg"></div>
		</div>
		<!--  slideshow-item end  -->
	</div>
	<div class="overlay"></div>
	<div class="hero-section-wrap fl-wrap multi-option-booking">
		<div class="container">
			<div class="intro-item fl-wrap">

				<div class="padd-15" style="padding-left: 0px;text-align: center;">
					<h1>Starts With You And Ends Within You</h1>
					<div class="tab" role="tabpanel">
						<!-- Nav tabs -->
						<div class="see-more col-lg-12">
							<a class="" href="trips.html" style="margin-top: 20px;">See All Trips
								<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
						</div>
						<!-- Tab panes -->
					</div>
				</div>
				<div class="tab-content tabs">

					<!-- Tour Book Form -->


					<!-- Hotel Book Form -->

					<!-- Flight Book Form -->
					<div role="tabpanel" class="tab-pane fade in" id="Flight">
						<form>
							<fieldset class="home-form-1">

								<div class="col-md-2 col-sm-2 padd-0">
									<input type="text" class="form-control br-1" placeholder="Leaving From..">
								</div>

								<div class="col-md-2 col-sm-2 padd-0">
									<input type="text" class="form-control br-1" value="Going To..">
								</div>

								<div class="col-md-2 col-sm-2 padd-0">
									<input type="text" name="flight-book" id="flight-book" class="form-control br-1" value="When..">
								</div>

								<div class="col-md-2 col-sm-2 padd-0">
									<div class="sl-box">
										<select class="wide form-control br-1">
											<option data-display="Adults">Adults</option>
											<option value="1">01</option>
											<option value="2">02</option>
											<option value="3">03</option>
											<option value="4">04</option>
										</select>
									</div>
								</div>

								<div class="col-md-2 col-sm-2 padd-0">
									<div class="sl-box">
										<select class="wide form-control br-1">
											<option data-display="Children">Children</option>
											<option value="1">01</option>
											<option value="2">02</option>
											<option value="3">03</option>
											<option value="4">04</option>
										</select>
									</div>
								</div>


								<div class="col-md-2 col-sm-2 padd-0">
									<button type="submit" class="btn theme-btn cl-white seub-btn">FIND JOB</button>
								</div>

							</fieldset>
						</form>
					</div>

					<!-- Restaurant Book Form -->
					<div role="tabpanel" class="tab-pane fade in" id="Restaurant">
						<form>
							<fieldset class="home-form-1">

								<div class="col-md-3 col-sm-3 padd-0">
									<input type="text" class="form-control br-1" placeholder="City, Country">
								</div>

								<div class="col-md-2 col-sm-2 padd-0">
									<div class="sl-box">
										<select class="wide form-control br-1">
											<option data-display="Person">Person</option>
											<option value="1">01</option>
											<option value="2">02</option>
											<option value="3">03</option>
											<option value="4">04</option>
										</select>
									</div>
								</div>

								<div class="col-md-2 col-sm-2 padd-0">
									<div class="sl-box">
										<select class="wide form-control br-1">
											<option data-display="Children">Children</option>
											<option value="1">01</option>
											<option value="2">02</option>
											<option value="3">03</option>
											<option value="4">04</option>
										</select>
									</div>
								</div>

								<div class="col-md-3 col-sm-3 padd-0">
									<input type="text" name="check-in-out" class="form-control br-1" value="Check In & Out">
								</div>

								<div class="col-md-2 col-sm-2 padd-0">
									<button type="submit" class="btn theme-btn cl-white seub-btn">FIND Hotel</button>
								</div>

							</fieldset>
						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- ======================= Slide Multiple Booking End Banner ===================== -->
<!-- <div class="clearfix"></div>
		<div class="see-more col-lg-12"><br>
			 <a class="btn" href="trips.html"><span class=""></span>See All Trips
			<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		</div>
		<br> -->
<!-- ================= Features ===================== -->
<section class="gray-bg">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="heading">
					<h1></h1>
					<h1>Driven By</h1>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4 col-sm-6">
				<div class="info-services">
					<img src="assets/img/tt-1.png" alt="">
					<h4 class="infobox_title">Vision</h4>
					<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="info-services">
					<img src="assets/img/tt-2.png" alt="">
					<h4 class="infobox_title">Mission</h4>
					<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="info-services">
					<img src="assets/img/tt-3.png" alt="">
					<h4 class="infobox_title">Values</h4>
					<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ===================== End fetures ===================== -->
<div class="clearfix"></div>

<!-- ====================== Top Tour & Activities ================= -->
<section class="gray-bg">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="heading">
					<!-- <span class="theme-cl">Select Tour</span> -->
					<h1>Upcoming Trips</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="list-slider">

				<!-- Single Tour -->
				<div class="list-slide-box col-lg-4">
					<article class="tour-box style-1">

						<div class="tour-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/tour/tour-4.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>22h</span>
									</div>
									<h4 class="destination-place">
										<a href="#">New York, Sean Pavone</a>
									</h4>
								</a>
							</figure>
						</div>


						<div class="inner-box">
							<div class="box-inner-ellipsis">
								<h4 class="entry-title">
									<a href="#">New York</a>
								</h4>
								<div class="price-box">
									<div class="tour-price fl-right">
										<i class="ti ti-user"></i><span class="theme-cl f-bold">$240</span>
									</div>
								</div>
							</div>
						</div>

					</article>
				</div>

				<!-- Single Tour -->
				<div class="list-slide-box col-lg-4">
					<article class="tour-box style-1">

						<div class="tour-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/tour/tour-5.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>17h</span>
									</div>
									<h4 class="destination-place">
										<a href="#">Dubai, United Arab Emirates</a>
									</h4>
								</a>
							</figure>
						</div>

						<div class="inner-box">
							<div class="box-inner-ellipsis">
								<h4 class="entry-title">
									<a href="#">Saudi Arabia</a>
								</h4>
								<div class="price-box">
									<div class="tour-price fl-right">
										<i class="ti ti-user"></i><span class="theme-cl f-bold">$117</span>
									</div>
								</div>
							</div>
						</div>

					</article>
				</div>

				<!-- Single Tour -->
				<div class="list-slide-box col-lg-4">
					<article class="tour-box style-1">

						<div class="tour-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/tour/tour-6.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>1 day</span>
									</div>
									<h4 class="destination-place">
										<a href="#">Paris, France. neirfy</a>
									</h4>
								</a>
							</figure>
						</div>

						<div class="inner-box">
							<div class="box-inner-ellipsis">
								<h4 class="entry-title">
									<a href="#">Singapore</a>
								</h4>
								<div class="price-box">
									<div class="tour-price fl-right">
										<i class="ti ti-user"></i><span class="theme-cl f-bold">$310</span>
									</div>
								</div>
							</div>
						</div>

					</article>
				</div>

				<!-- Single Tour -->
				<div class="list-slide-box col-lg-4">
					<article class="tour-box style-1">

						<div class="tour-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/tour/tour-2.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>70h</span>
									</div>
									<h4 class="destination-place">
										<a href="#">London, England. AndreaAstes</a>
									</h4>
								</a>
							</figure>
						</div>

						<div class="inner-box">
							<div class="box-inner-ellipsis">
								<h4 class="entry-title">
									<a href="#">United Kingdom</a>
								</h4>
								<div class="price-box">
									<div class="tour-price fl-right">
										<i class="ti ti-user"></i><span class="theme-cl f-bold">$217</span>
									</div>
								</div>
							</div>
						</div>

					</article>
				</div>

				<!-- Single Tour -->
				<div class="list-slide-box col-lg-4">
					<article class="tour-box style-1">

						<div class="tour-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/tour/tour-7.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>2 days</span>
									</div>
									<h4 class="destination-place">
										<a href="#">Bangkok, Thailand. thitivong</a>
									</h4>
								</a>
							</figure>
						</div>

						<div class="inner-box">
							<div class="box-inner-ellipsis">
								<h4 class="entry-title">
									<a href="#">Hong Kong</a>
								</h4>
								<div class="price-box">
									<div class="tour-price fl-right">
										<i class="ti ti-user"></i><span class="theme-cl f-bold">$177</span>
									</div>
								</div>
							</div>
						</div>

					</article>
				</div>

			</div>
		</div>
	</div><br>
</section>
<!-- ====================== Top Tour & Activities ================= -->
<div class="clearfix"></div>
<div class="page-title image-title" style="background-image:url(assets/img/banner.jpg);">
	<div class="container">
		<div class="page-title-wrap">
			<h2>About Us</h2>
			<p><a href="#" class="theme-cl"></a> <span>At Vero Eos Et Accusamus Et Iusto Odio Dignissimos Ducimus Qui Blanditiis Praesentium
					Voluptatum Deleniti Atque Corrupti Quos Dolores Et Quas Molestias Excepturi Sint Occaecati Cupiditate Non Provident,
					Similique Sunt In Culpa Qui Officia Deserunt Mollitia Animi, Id Est Laborum Et Dolorum Fuga. Et Harum Quidem Rerum Facilis
					Est Et Expedita Distinctio. Nam Libero Tempore, Cum Soluta Nobis Est Eligendi Optio Cumque Nihil Impedit Quo Minus Id
					Quod Maxime Placeat Facere Possimus, Omnis Voluptas Assumenda..</span></p>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<!-- ============ Gallery Images =================== -->
<div role="tabpanel" class="tab-pane fade in" id="Photos">
	<div class="container">
		<div class="tr-single-box">
			<div class="tr-single-body">
				<div class="row">
					<div class="heading"><br/>
						<h1>Gallery</h1>
					</div>
				</div>
				<div class="list-slide-box col-lg-4">
					<article class="hotel-box style-1">

						<div class="hotel-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/hotel/hotel-1.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="read_more"><span>Trek to Kodachadri</span></div>
								</a>
							</figure>

						</div>

					</article>
				</div>
				<div class="list-slide-box col-lg-4">
					<article class="hotel-box style-1">

						<div class="hotel-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/hotel/hotel-2.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="read_more"><span>Adventure trekking trip</span></div>
								</a>
							</figure>

						</div>

					</article>
				</div>
				<div class="list-slide-box col-lg-4">
					<article class="hotel-box style-1">

						<div class="hotel-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/hotel/hotel-3.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="read_more"><span>Mcleodganj – Heaven Amidst The Hills.</span></div>
								</a>
							</figure>

						</div>

					</article>
				</div>
				<div class="list-slide-box col-lg-4">
					<article class="hotel-box style-1">

						<div class="hotel-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/hotel/hotel-4.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="read_more"><span>Srinagar – The Gem Of Kashmir</span></div>
								</a>
							</figure>

						</div>

					</article>
				</div>
				<div class="list-slide-box col-lg-4">
					<article class="hotel-box style-1">

						<div class="hotel-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/hotel/hotel-5.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="read_more"><span>Leh-Ladakh – The Biker’s Paradise</span></div>
								</a>
							</figure>

						</div>

					</article>
				</div>
				<div class="list-slide-box col-lg-4">
					<article class="hotel-box style-1">

						<div class="hotel-box-image">
							<figure>
								<a href="#">
									<img src="assets/img/hotel/hotel-6.jpg" class="img-responsive listing-box-img" alt="" />
									<div class="list-overlay"></div>
									<div class="read_more"><span>Andaman – The Beach Haven</span></div>
								</a>
							</figure>

						</div>

					</article>
				</div>
				<div class="clearfix"></div>
				<div class="see-more col-lg-12">
					<a class="" href="gallery.html"><span class=""></span>See Gallery
						<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- =========== Start All Blog View =================== -->
<section class="gray-bg">
	<div class="container">
		<div class="row">
			<div class="heading"><br/>
				<span class="theme-cl" style="margin-bottom: 5px;">Take A Look at Latest Blogs.</span>
				<h1>Our Blogs</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="blog-box blog-grid-box">
					<div class="blog-grid-box-img">
						<img src="assets/img/blog/blog-1.jpg" class="img-responsive" alt="">
					</div>

					<div class="blog-grid-box-content">
						<div class="blog-avatar text-center">
							<img src="assets/img/user-1.jpg" class="img-responsive" alt="">
							<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
						</div>
						<h4>Why People Use Listing Hub</h4>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
						<a href="#" class="theme-cl" title="Read More..">Continue...</a>
					</div>

				</div>
			</div>


			<div class="col-md-4 col-sm-6">
				<div class="blog-box blog-grid-box">
					<div class="blog-grid-box-img">
						<img src="assets/img/blog/blog-8.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog-grid-box-content">
						<div class="blog-avatar text-center">
							<img src="assets/img/user-2.jpg" class="img-responsive" alt="">
							<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
						</div>
						<h4>Why People Use Listing Hub</h4>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
						<a href="#" class="theme-cl" title="Read More..">Continue...</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="blog-box blog-grid-box">
					<div class="blog-grid-box-img">
						<img src="assets/img/blog/blog-5.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog-grid-box-content">
						<div class="blog-avatar text-center">
							<img src="assets/img/user-2.jpg" class="img-responsive" alt="">
							<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
						</div>
						<h4>Why People Use Listing Hub</h4>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
						<a href="#" class="theme-cl" title="Read More..">Continue...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="bs-example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span class="ti-arrow-left"></span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item active"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span class="ti-arrow-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =========== End All Hotel In Grid View =================== -->
<div class="map">

	<div class="heading"><br/>
		<span class="theme-cl" style="margin-bottom: 5px;">Find Us.</span>
		<h1>Our Location</h1>
	</div>

	<div class="tr-single-box">
		<div class="tr-single-body" style="padding: 0;">
			<div id="singleMap" data-latitude="40.712776" data-longitude="-74.005974" data-mapTitle="Our Location">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.4025890752655!2d77.63185271482234!3d13.010015390830686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae170a5897bb49%3A0xeb6058ec9b8ff900!2sSafarnama!5e0!3m2!1sen!2sin!4v1564401336068!5m2!1sen!2sin"
				 width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<!-- ============== Before Footer ====================== -->
<section class="before-footer bt-1 bb-1">
	<div class="container-fluid padd-0 full-width">

		<div class=" col-md-2 col-sm-2 br-1 mbb-1">
			<div class="data-flex">
				<h4 style="color: #ff4e00 !important; font-weight: 600;">Contact Us!</h4>
			</div>
		</div>

		<div class="col-md-3 col-sm-3 br-1 mbb-1">
			<div class="data-flex text-center">
				Pune, Maharashtra, India
			</div>
		</div>

		<div class="col-md-3 col-sm-3 br-1 mbb-1">
			<div class="data-flex text-center">
				<span class="d-block mrg-bot-0">+91 9885858585</span>
			</div>
		</div>

		<div class="col-md-4 col-sm-4 padd-0">
			<div class="data-flex text-center">
				<a href="#" class="theme-cl"><strong>support@gmail.com</strong></a>
			</div>
		</div>

	</div>
</section>
<!-- =================== Before Footer ====================== -->