<!-- ======================= Start Page Title ===================== -->
<div class="container">
  <div class="col-md-12">
    <div class="heading" style="padding-bottom: 0px"><br><br><br><br>
      <h1 style="text-transform: uppercase;">About Us</h1>
    </div>
  </div>
</div>
<!-- ======================= End Page Title ===================== -->
<!-- Vision -->
<div class="">
  <div class="tr-single-box col-lg-12">
    <div class="col-md-12">
      <div class="heading" style="padding-bottom: 0px"><br>
        <h1>Vision</h1>
      </div>
    </div>
    <div class="tr-single-body">
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
        placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.. Et harum quidem rerum facilis est
        et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
        quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam.</p>
    </div>
  </div>
</div>
<!-- Mission -->
<div class="">
  <div class="tr-single-box col-lg-12">
    <div class="col-md-12">
      <div class="heading" style="padding-top: 20px">
        <h1>Mission</h1>
      </div>
    </div>
    <div class="tr-single-body">
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
        placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendu, omnis dolor repellendus..</p>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
        repellendus. Temporibus autem quibusdam.</p>
    </div>
  </div>
</div>

<!-- ====================== Team ================= -->
		<section class="gray-bg">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading" style="padding-bottom: 0px">
							<h1>Our Team</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
					<section id="team" class="team content-section">
								<div class="col-md-3">
								  <div class="team-member">
									<figure>
									  <img src="assets/img/team-1.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Lauren Cox</h4>
									<p>Creative Director</p>
								  </div><!-- /.team-member-->
								</div><!-- /.col-md-3 -->
					  
								<div class="col-md-3">
								  <div class="team-member">
									<figure>
									 <img src="assets/img/team-2.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Jessie Barnett</h4>
									<p>UI/UX Designer</p>
								  </div><!-- /.team-member-->
								</div>
								<div class="col-md-3">
								  <div class="team-member">
									<figure>
									  <img src="assets/img/team-3.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Jessie Barnett</h4>
									<p>UI/UX Designer</p>
								  </div><!-- /.team-member-->
								</div>
								<div class="col-md-3">
								  <div class="team-member">
									<figure>
									<img src="assets/img/team-7.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.Lorem ipsum dolor sit amet, consectetur adipisicing alias elit. Recusandae asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Terry Fletcher</h4>
									<p>Web Developer</p>
								  </div><!-- /.team-member-->
								</div><!-- /.col-md-4 -->
								<div class="col-md-3">
								  <div class="team-member">
									<figure>
									  <img src="assets/img/team-5.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Lauren Cox</h4>
									<p>Creative Director</p>
								  </div>
								</div>
					  
					            <div class="col-md-3">
								  <div class="team-member">
									<figure>
									  <img src="assets/img/team-6.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Lauren Cox</h4>
									<p>Creative Director</p>
								  </div>
								</div>
					  
					            <div class="col-md-3">
								  <div class="team-member">
									<figure>
									  <img src="assets/img/team-4.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Lauren Cox</h4>
									<p>Creative Director</p>
								  </div>
								</div>
					  
					            <div class="col-md-3">
								  <div class="team-member">
									<figure>
									  <img src="assets/img/team-5.jpg" alt="" class="img-responsive">
									  <figcaption>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias asperiores mollitia.</p><hr>
										<ul>
										  <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
										  <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
										</ul>
									  </figcaption>
									</figure>
									<h4>Lauren Cox</h4>
									<p>Creative Director</p>
								  </div>
								</div>
					  
					  </section><!-- /.our-team -->
					
					
				</div>
		
			</div>
		</section>


<div class="map">

  <div class="heading col-lg-12"><br/>
    <!-- <span class="theme-cl" style="margin-bottom: 5px;">Find Us.</span> -->
    <h1>Our Location</h1>
  </div>

  <div class="tr-single-box" style="margin-bottom: 0px;">
    <div class="tr-single-body" style="padding: 0;">
      <div id="singleMap" data-latitude="40.712776" data-longitude="-74.005974" data-mapTitle="Our Location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.4025890752655!2d77.63185271482234!3d13.010015390830686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae170a5897bb49%3A0xeb6058ec9b8ff900!2sSafarnama!5e0!3m2!1sen!2sin!4v1564401336068!5m2!1sen!2sin"
          width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- ============== Before Footer ====================== -->
<section class="before-footer bt-1 bb-1">
  <div class="container-fluid padd-0 full-width">

    <div class=" col-md-2 col-sm-2 br-1 mbb-1">
      <div class="data-flex">
        <h4 style="color: #ff4e00 !important; font-weight: 600;">Contact Us!</h4>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 br-1 mbb-1">
      <div class="data-flex text-center">
        Pune, Maharashtra, India
      </div>
    </div>

    <div class="col-md-3 col-sm-3 br-1 mbb-1">
      <div class="data-flex text-center">
        <span class="d-block mrg-bot-0">+91 9885858585</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 padd-0">
      <div class="data-flex text-center">
        <a href="#" class="theme-cl"><strong>support@gmail.com</strong></a>
      </div>
    </div>

  </div>
</section>