<div class="page-title image-title" style="background-image:url(assets/img/banner.jpg);">
  <div class="container">
    <div class="page-title-wrap">
    <h2>TREKS</h2>
    <p><a href="#" class="theme-cl">Home</a> | <span>Treks</span></p>
    </div>
  </div>
</div>