<div class="container">
  <div class="col-md-12">
    <div class="heading" style="padding-bottom: 0px"><br><br><br><br>
      <h1 style="text-transform: uppercase;">Gallery</h1>
    </div>
  </div>
</div>
<!-- ======================= End Page Title ===================== -->
<div class="gallery">
  <div class="long gallery-container">
    <div class="gallery-item">
      <div class="image"><img src="assets/img/destination/des-1.jpg" alt="image1"></div>
      <div class="overlay"> </div>
      <div class="text">Trek to Kodachadri is an exciting invitation to all thos.</div>
    </div>
  </div>
  <div class="large gallery-container">
    <div class="gallery-item">
      <div class="image"><img src="https://images.unsplash.com/photo-1561262280-8d0df7772ac4" alt="image2"></div>
      <div class="overlay"> </div>
      <div class="text">Gokarna is a small beach town on the coast of the Arabian sea, home to a must-visit Hindu Pilgrimage
        site
      </div>
    </div>
  </div>
  <div class="small gallery-container">
    <div class="gallery-item">
      <div class="image"><img src="https://images.unsplash.com/photo-1559867632-9a4ed11e09b7" alt="image3"></div>
      <div class="overlay"> </div>
      <div class="text"> The Mahabaleshwar temple. This quaint little town gets equal attention for its many calm and clean
        beaches; tourists from across the country. </div>
    </div>
  </div>
  <div class="small gallery-container">
    <div class="gallery-item">
      <div class="image"><img src="https://images.unsplash.com/photo-1557441327-782eea23facd" alt="image4"></div>
      <div class="overlay"> </div>
      <div class="text">As well as foreigners, are drawn to the beauty of the town.</div>
    </div>
  </div>
  <div class="long gallery-container">
    <div class="gallery-item">
      <div class="image"><img src="https://images.unsplash.com/photo-1429080355161-3c071e2e27a6" alt="image5"></div>
      <div class="overlay"> </div>
      <div class="text">Sunset</div>
    </div>
  </div>
  <div class="long gallery-container">
      <div class="gallery-item">
        <div class="image"><img src="https://images.unsplash.com/photo-1557441327-782eea23facd" alt="image4"></div>
        <div class="overlay"> </div>
        <div class="text">As well as foreigners, are drawn to the beauty of the town.</div>
      </div>
    </div>
    <div class="long gallery-container">
        <div class="gallery-item">
          <div class="image"><img src="https://images.unsplash.com/photo-1429080355161-3c071e2e27a6" alt="image5"></div>
          <div class="overlay"> </div>
          <div class="text">Sunset</div>
        </div>
      </div>
  <div class="medium gallery-container">
    <div class="gallery-item">
      <div class="image"><img src="https://images.unsplash.com/photo-1485199433301-8b7102e86995" alt="image6"></div>
      <div class="overlay"> </div>
      <div class="text">Kodachadri is an exciting invitation to all those who love to travel.</div>
    </div>
  </div>
  <div class="tiny gallery-container">
      <div class="gallery-item">
        <div class="image"><img src="assets/img/destination/des-1.jpg" alt="image1"></div>
        <div class="overlay"> </div>
        <div class="text">Trek to Kodachadri is an exciting invitation to all thos.</div>
      </div>
    </div>
    <div class="long gallery-container">
        <div class="gallery-item">
          <div class="image"><img src="https://images.unsplash.com/photo-1429080355161-3c071e2e27a6" alt="image5"></div>
          <div class="overlay"> </div>
          <div class="text">Sunset- Maharashtra, India</div>
        </div>
      </div>
</div>
<!-- ============== Before Footer ====================== -->
<section class="before-footer bt-1 bb-1">
  <div class="container-fluid padd-0 full-width">

    <div class=" col-md-2 col-sm-2 br-1 mbb-1">
      <div class="data-flex">
        <h4 style="color: #ff4e00 !important; font-weight: 600;">Contact Us!</h4>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 br-1 mbb-1">
      <div class="data-flex text-center">
        Pune, Maharashtra, India
      </div>
    </div>

    <div class="col-md-3 col-sm-3 br-1 mbb-1">
      <div class="data-flex text-center">
        <span class="d-block mrg-bot-0">+91 9885858585</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 padd-0">
      <div class="data-flex text-center">
        <a href="#" class="theme-cl"><strong>support@gmail.com</strong></a>
      </div>
    </div>

  </div>
</section>