<!-- ================= footer start ========================= -->
<div class="sharethis-inline-share-buttons"></div>
<footer class="footer dark-bg">
	<div class="container">

		<!-- Row Start -->
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Trips</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h4>Featured Destinations</h4>
					<ul>
						<li><a href="#">Destination 1</a></li>
						<li><a href="#">Destination 2</a></li>
						<li><a href="#">Destination 3</a></li>
						<li><a href="#">Destination 4</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h4>Featured Tour</h4>
					<ul>
						<li><a href="#">Featured Tour 1</a></li>
						<li><a href="#">Featured Tour 2</a></li>
						<li><a href="#">Featured Tour 3</a></li>
						<li><a href="#">Featured Tour 4</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h4>Upcoming Tour</h4>
					<ul>
						<li><a href="#"> Tour 1</a></li>
						<li><a href="#"> Tour 2</a></li>
						<li><a href="#"> Tour 3</a></li>
						<li><a href="#"> Tour 4</a></li>
					</ul>
				</div>
			</div>
		</div>


		<!-- Row Start -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="copyright text-center">
						<p>&copy; Copyright 2019 Safarnama </p>
						<!-- | Powerd By <a href="#" title="Themez Hub">xyz</a> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="f-social-box copyright text-center">
						<ul>
							<li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin instagram-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</footer>