<!-- ======================= Start Page Title ===================== -->
<div class="container">
  <div class="col-md-12">
    <div class="heading" style="padding-bottom: 0px"><br><br><br><br>
      <h1 style="text-transform: uppercase;">Green Initiative</h1>
    </div>
  </div>
</div>
<!-- ======================= End Page Title ===================== -->
<div class="">
  <div class="tr-single-box col-lg-12">
    <div class="col-md-12">
      <div class="heading" style="padding-top: 20px">
        <h1>Mission</h1>
      </div>
    </div>
    <div class="tr-single-body">
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
        placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendu, omnis dolor repellendus..</p>
      <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
        repellendus. Temporibus autem quibusdam.</p>
    </div>
  </div>
</div>
<main id="main" class="col-md-12 col-lg-12 col-sm-12">

  <!-- Responsive Photogrid -->

  <section id="photogrid">
    <a href="assets/img/destination/des-1.jpg" class="imgbox boxborder box1" id="box1"><div class="boxtitle">
        <p>Waterfall</p>
      </div></a>
    <a href="assets/img/destination/des-2.jpg" class="imgbox boxborder box2" id="box2"><div class="boxtitle">
        <p>Rose</p>
      </div></a>
    <a href="assets/img/destination/des-3.jpg" class="imgbox boxborder box3" id="box3"><div class="boxtitle">
        <p>Bridge</p>
      </div></a>
    <a href="assets/img/destination/des-4.jpg" class="imgbox boxborder box4" id="box4"><div class="boxtitle">
        <p>Owl</p>
      </div></a>
    <a href="assets/img/destination/des-5.jpg" class="imgbox boxborder box5" id="box5"><div class="boxtitle">
        <p>Astronaut</p>
      </div></a>
    <a href="assets/img/destination/des-6.jpg" class="imgbox boxborder box6" id="box6"><div class="boxtitle">
        <p>Church</p>
      </div></a>
    <a href="assets/img/destination/des-7.jpg" class="imgbox boxborder box7" id="box7"><div class="boxtitle">
        <p>Motorcycle</p>
      </div></a>
    <a href="assets/img/destination/des-8.jpg" class="imgbox boxborder box8" id="box8"><div class="boxtitle">
        <p>Campfire</p>
      </div></a>
    <a href="assets/img/destination/des-1.jpg" class="imgbox boxborder box9" id="box9"><div class="boxtitle">
        <p>Stars</p>
      </div></a>
    <a href="assets/img/destination/des-2.jpg" class="imgbox boxborder box10" id="box10"><div class="boxtitle">
        <p>Pineapple</p>
      </div></a>
    <a href="assets/img/destination/des-3.jpg" class="imgbox boxborder box11" id="box11"><div class="boxtitle">
        <p>Salad</p>
      </div></a>
    <a href="assets/img/destination/des-4.jpg" class="imgbox boxborder box12" id="box12"><div class="boxtitle">
        <p>Salad</p>
      </div></a>


    <!--Lightbox Images are hidden and will display as full-page overlays -->

    <a href="#box1" class="lightbox" id="img1">
      <img src="assets/img/destination/des-1.jpg"></a>
    <a href="#box2" class="lightbox" id="img2">
      <img src="assets/img/destination/des-2.jpg"></a>
    <a href="#box3" class="lightbox" id="img3">
      <img src="assets/img/destination/des-5.jpg"></a>
    <a href="#box4" class="lightbox" id="img4">
      <img src="assets/img/destination/des-4.jpg"></a>
    <a href="#box5" class="lightbox" id="img5">
      <img src="assets/img/destination/des-5.jpg"></a>
    <a href="#box6" class="lightbox" id="img6">
      <img src="assets/img/destination/des-6.jpg"></a>
    <a href="#box7" class="lightbox" id="img7">
      <img src="assets/img/destination/des-7.jpg"></a>
    <a href="#box8" class="lightbox" id="img8">
      <img src="assets/img/destination/des-8.jpg"></a>
    <a href="#box9" class="lightbox" id="img9">
      <img src="assets/img/destination/des-1.jpg"></a>
    <a href="#box10" class="lightbox" id="img10">
      <img src="assets/img/destination/des-2.jpg"></a>
    <a href="#box11" class="lightbox" id="img11">
      <img src="assets/img/destination/des-3.jpg"></a>
    <a href="#box12" class="lightbox" id="img12">
      <img src="assets/img/destination/des-4.jpg"></a>
  </section>
</main>

<!-- ============== Before Footer ====================== -->
<section class="before-footer bt-1 bb-1">
  <div class="container-fluid padd-0 full-width">

    <div class=" col-md-2 col-sm-2 br-1 mbb-1">
      <div class="data-flex">
        <h4 style="color: #ff4e00 !important; font-weight: 600;">Contact Us!</h4>
      </div>
    </div>

    <div class="col-md-3 col-sm-3 br-1 mbb-1">
      <div class="data-flex text-center">
        Pune, Maharashtra, India
      </div>
    </div>

    <div class="col-md-3 col-sm-3 br-1 mbb-1">
      <div class="data-flex text-center">
        <span class="d-block mrg-bot-0">+91 9885858585</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 padd-0">
      <div class="data-flex text-center">
        <a href="#" class="theme-cl"><strong>support@gmail.com</strong></a>
      </div>
    </div>

  </div>
</section>