<!-- ======================= Start Navigation ===================== -->
<nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
  <div class="container">

    <!-- Start Logo Header Navigation -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="index.html">
        <h3 class="logo logo-display" alt="">Safarnama</h3>
        <h3 class="logo logo-scrolled" alt="" style="margin-top: 5px;">Safarnama</h3>

        <!-- <img src="assets/img/logo.png" class="logo logo-display" alt=""> -->
        <!-- <img src="assets/img/logo.png" class="logo logo-scrolled" alt=""> -->
      </a>

    </div>
    <!-- End Logo Header Navigation -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">

      <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">

        <li class="dropdown">
          <a routerLink="/trips" class="dropdown-toggle" data-toggle="dropdown">Trips</a>
          <ul class="dropdown-menu animated fadeOutUp">
            <li class="dropdown"><a routerLink="/treks">Treks</a>
              <ul class="dropdown-menu animated fadeOutUp" style="display: none;">
                <!-- <i class="fa fa-arrow-right"></i> -->
                <li><a href="blog.html">South India</a></li>
                <li><a href="faqs.html">North India</a></li>
              </ul>
            </li>
            <li><a routerLink="/backpacking">Backpacking</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/gallery">Gallery</a>
        </li>
        <li>
          <a routerLink="/green-initiative">Green Initiative</a>
        </li>
        <li><a routerLink="/about-us">About Us</a>

        </li>

      </ul>

      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="br-right"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signin"><i class="login-icon ti-user"></i>Login</a></li>
        <li class="sign-up"><a class="btn-signup red-btn" href="#"><span class="ti-briefcase"></span>Book Your Tour</a></li> 
      </ul> -->

    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- ======================= End Navigation ===================== -->